rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {

    // Yardımcı Fonksiyonlar
    function isAuthenticated() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return isAuthenticated() && request.auth.uid == userId;
    }

      allow write: if false; // Sadece Console üzerinden veya Admin SDK ile
    }
  }
}
